/* 
  -------------RESETS-------------

  Resets
  are
  used
  for
  overwriting
  default
  html
  tag
  properties  */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
:root {
  --clr-primary: #ffa700;
  --clr-light: #fff;
  --clr-dark: #2b2b2b;
  --font: "Quicksand", sans-serif;
  --img-width: 477px;
  --img-height: 477px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: var(--clr-dark);
  font-family: var(--font);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* Header Start */
.header {
  padding: 3rem 0;
  background-color: var(--clr-dark);
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header__logo h5 {
  color: var(--clr-light);
  font-size: 18px;
  font-weight: 700;
}
.header__logo h5 > span {
  color: var(--clr-primary);
}
.header__nav ul {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.header__nav ul li a {
  color: var(--clr-light);
}

.header__nav ul li a:hover {
  color: var(--clr-primary);
  transition: 0.5 ease-in-out;
}
.toggle__menu {
  display: none;
}
.toggle__menu span {
  color: var(--clr-primary);
  width: 3rem;
  height: 0.3rem;
  border: 2px solid var(--clr-primary);
  border-radius: 1rem;
}

/* home.html START */

/* Banner Start */
.banner {
  padding: 4rem 0;
  background-color: var(--clr-light);
}

.banner__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
}

.banner__text h1 {
  color: var(--clr-primary);
  font-weight: 700;
  font-size: 7.1rem;
  max-width: 35rem;
  line-height: 7rem;
}

.banner__text p {
  margin: 3rem 0;
}

.banner__text .banner__social ul{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.banner__social ul li a {
  color : var(--clr-primary);
  font-size: 24px;
}

.banner__wrapper .chevron a{
  justify-content: center;
  align-content: center;
  width: 100%;
}

/* Banner Start */


/* Skills Start */
.skills {
  padding: 4rem 0;
  background-color: var(--clr-dark);
}

.skills__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.skills__card {
  text-align: center;
}

.skills__card h5 {
  font-size: 18px;
  color: var(--clr-primary);
  font-weight: 400;
  margin-top: 2rem;
}

.skills__card p {
  color: var(--clr-light);
  margin: 3rem 0;
  text-align: justify;
}

.about {
  padding: 4rem 0;
  background-color: var(--clr-light);
}

.about__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

/* .about__img {
  position: relative;
} */

/* .about__img::before {
  position: absolute;
  display: inline-block;
  content: " ";
  background-color: var(--clr-primary);
  width: var(--img-width);
  height: var(--img-height);
  opacity: 30%;
  border-radius: 250px;
  left: 0;
} */

.about__text h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--clr-primary);
  margin-bottom: 2rem;
}
.about__text p {
  margin-bottom: 2rem;
}
.about__text p:last-child {
  margin-bottom: unset;
}

/* About  End */


/* Trends Start */

.trends {
  padding: 4rem 0;
  background: var(--clr-dark);
}

.trends__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 3rem;
}


/* Trends End */

/* home.html END */


/* Services.html  START */

.services {
  padding: 4rem 0;
  background-color: var(--clr-light);
}
.services__wrapper .services__items{
  justify-content: center;
}
/* .services__wrapper{
  display: flex;
  flex-direction:row;
  align-items: center;
  gap: 2rem;
} */
.services:nth-child(odd) .services__wrapper .services__items {
  display: flex;
  flex-direction: row-reverse;
}

.services:nth-child(even)  .services__wrapper.services__items {
  display: flex;
  flex-direction: row;
  
}
.services:nth-child(odd) { 
  background-color: var(--clr-dark);
  color: var(--clr-light)
}
.services:nth-child(even) { 
  background-color: var(--clr-light);
}
.services__items { 
display: flex;
justify-content: space-between;
  gap: 5rem;
  padding: 0rem 6rem;
  justify-content: center;
}



.services__right { 
  justify-content: center;
  align-content: center;
  display: flex;
  flex: 1;
}
.services__left { 
  flex: 1;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  place-items: center;
}
.services__left h2 {
  color: var(--clr-primary);
  font-weight: 700;
  font-size: 48px;
  line-height: 5rem;
  max-width: 50%;
  margin-bottom: 3rem;
}

.services__left p {
  margin-bottom: 2rem;
  justify-content: start;
  text-align: justify;
  max-width: 50%;
}


#price-starts{
  margin-top: 4rem;
  margin-bottom: 0;
  text-align: left;
}
#price {
  color: var(--clr-primary);
  font-weight: 700;
  font-size: 24px;
}

#vary {
  max-width: 50rem;
  font-size: 12px;
}

/* Services.html  END */




/* Updates.html START */
.update{
  padding: 4rem 0;
}
.update__wrapper { 
  display: flex;
  flex-direction: row;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  justify-content: center;
  gap: 4rem;
}
.update__wrapper h3 {
  color: var(--clr-primary);
  font-weight: 700;
  font-size: 24px;
}
.update__right{
  display: flex;
  flex-direction: column;
  max-width: 35%;
}

.update__left{
  display: flex;
  flex: 1;
}
.title h2{
  font-size: 48px;
  font-weight: 700;
  color: var(--clr-primary);
  margin-top: 2rem;
}
.title p{
  margin: 1rem 0;
}
.update__metadata ul{
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.update__topics { 
  margin: 4rem 0;
}
.update__topic h3{
  margin: 4rem 0;
}

.update__topic p{
  color : var(--clr-dark);
  margin-bottom: 4rem;
  text-align: justify;
}

.update__topic a{
  color: var(--clr-primary);
  margin: 4rem 0;
}
.table-wrapper table {
  width: 100%;
}
.table-wrapper table td{
  padding: 1rem 0rem 1rem 0;
}
.table-wrapper table td:nth-child(2){
  text-align: right;
}
.recent-post__table-wrapper table td {
  margin: 4rem;
  padding:  5px;
}
.recent-post__table-wrapper table td:nth-child(2) { 
  text-align: left;
  justify-content: center;
  align-content: center;
}

.recent-post__table-wrapper table td:nth-child(2) h5{ 
font-weight: 700;

}
.tags__table-wrapper table{ 
 width: 100%;
}
.tags__table-wrapper table td{ 
 margin: 4rem;
  padding:  5px;
}
.tags__table-wrapper table td a{ 
  width: 100%;
}


/* updates.html END */

/* Contacts Start */

.contacts { 
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  padding: 4rem 15rem;
}
.contacts__details { 
 padding: 0 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.contacts__details h2{
  font-weight: 700;
  font-size: 48px;
  color: var(--clr-primary);
  margin: 2rem 0;
}

.contacts__details p { 
  max-width: 70%;
  text-align: justify;
  line-height: 2rem;
  margin: 2rem 0;
}

.contacts__details .contact__info li{
 margin: 2rem 0;
}
.contacts__details .contact__info  li i{
  color: var(--clr-primary);
}
.contact__info li span{
  gap: 4rem;
}
.contacts__socials{
  display:  flex;
  gap: 1rem;
  margin: 4rem 0;
}
.contacts__details .contacts__socials li a {
   color: var(--clr-light);
}


.contacts__form form{
  display: flex;
  flex-direction: column;
  align-content: flex-start;

}
.contacts__form form .text-input{
  margin: 2rem 0;
  width: 100%;
  height: 50px;
  font-family: var(--font);
}
.contacts__form form .text-input-message{
  margin: 2rem 0;
  width: 100%;
  height: 200px;
  font-family: var(--font);
}


/* Contacts End */

/* CTA Start */
.cta {
  padding: 4rem 0;
  background-color: var(--clr-primary);
}

.cta__info {
  text-align: center;
}

.cta__info h3 {
  font-size: 36px;
  font-weight: 600;
}

.cta__info p {
  margin-bottom: 2rem;
}

/* CTA End */


/* Footer Start */

.footer {
  padding: 2rem 0;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__social {
  display: flex;
  gap: 1.5rem;
}

.footer__social li a {
  color: var(--clr-light);
  font-size: 18px;
}
.footer__social li a:hover {
  color: var(--clr-primary);
}

/* Footer End */

/* ASSETS */

.btn {
  display: inline-block;
  background-color: transparent;
  border: transparent;
  padding: 1rem 2rem;
  color: transparent;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.btn.bg--primary {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.btn.bg--primary:hover {
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-light);
  color: var(--clr-dark);
  transition: all 0.6s ease-in-out;
}

.btn.bg--dark {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
.btn.bg--dark:hover {
  border: 1px solid var(--clr-dark);
  background-color: var(--clr-light);
  color: var(--clr-dark);
  transition: all 0.5s ease-in-out;
}
.no-bg-btn {
  color: var(--clr-primary);
  transition: all 0.5s ease-in-out;
}
.no-bg-btn:hover {
  color: var(--clr-dark);
  transition: all 0.5s ease-in-out;
}
.no-bg-btn--dark {
  color: var(--clr-dark);
  transition: all 0.5s ease-in-out;
}
.btn.no-bg-btn--dark:hover {
  color: var(--clr-primary);
  transition: all 0.5s ease-in-out;
}

.btn.bg--primary.btn-submit { 
width: 25%;
height: 4rem;
align-content: flex-end;
display: flex;
font-weight: 300;
color: var(--clr-light);
font-size: 13px;
align-self: flex-end;
}

.title h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--clr-primary);
}

.trends .title p {
  color: var(--clr-light);
}

.cards {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: var(--clr-light);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}

.cards img {
  display: block;
  width: 100%;
  height: 50rem;
  object-fit: cover;
  transition: transform 0.5s;
  transition: all 0.5s ease-in-out;
}

.cards__details {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  height: 0;
  left: 3.5rem;
  background-color: var(--clr-light);
  width: 28rem;
  padding: 0 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.cards__details h5 {
  font-size: 18px;
  color: var(--clr-primary);
  font-weight: 700;
  margin-bottom: 2rem;
}

.cards__details p {
  margin-bottom: 3rem;
}

.cards:hover img {
  height: 50rem;
  transform: scale(1.2);
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.cards:hover .cards__details {
  height: 45%;
  transition: all 0.5s ease-in-out;
}

#current {
  color : var(--clr-primary);
}



.chevron {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}
.chevron a{
  font-size: 5rem;
  color: var(--clr-primary);
}

/* Responsiveness CSS  START  */
@media only screen and (min-width: 992px) {






  /* HOME START */



  /* HOME END */
}


/* Responsiveness CSS START */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...}
*/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

/* Header Start  */
.header__logo h5 {
    display: none;
  }
  .header {
    position: fixed;
    width: 100%;
  }
  .header__nav ul {
    position: fixed;
    background-color: var(--clr-dark);
    height: 100vh;
    width: 100%;
    right: -100%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all 0.5s ease;
  }
  .toggle__menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .header__nav.open ul {
    right: 0;
    transition: all 0.5s ease;
  }
  .toggle__menu.open span:first-child {
    transform: translate(0, 10px) rotate(225deg);
    transition: 0.5s ease;
  }
  .toggle__menu.open span:nth-child(2) {
    opacity: 0;
    transition: 0.5s ease;
  }
  .toggle__menu.open span:last-child {
    transform: translate(0, -7.5px) rotate(-225deg);
    transition: 0.5s ease;
  }
  /* Header END */

   /* home.html  START */

   .banner__wrapper { 
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 5rem;
    margin-top: 100px;
   }
   .banner__text h1{
    font-size: 48px;
    max-width: 100%;
   }

   .banner__img {
    padding: 4rem;
   }

   .skills__wrapper{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
   }

   .about__wrapper { 
    display: flex;
    flex-direction: column;
   }
    .about__img { 
      padding: 2rem;
    }

    .trends__wrapper {
      flex-direction: column;
    }

    .cards { 
      height: 50%;
    }

    .cards__details  {
      width: 65vw;
    }
   /* home.html  END */

    /* Services.html START */

    .services__items{
      margin-top: 10rem;
      display: flex;
      flex-direction: column-reverse;
    }
    .services:nth-child(odd) .services__wrapper .services__items{
      display: flex;
      flex-direction: column-reverse;
      
    }
    


    /* Services.html END */

   /* updates.html START */
   .update{
    padding: 60px;
   }
   .update__wrapper{
    display: flex;
    padding: 4rem 0;
    flex-direction: column;
   }
   .update .title{
    margin-top: 8rem;
   }
   .update__right{
    max-width: 100%;
    gap:1rem;
   }
    /* updates.html END */

    /* contacts.html START */
    
    .contacts__wrapper{
      display: flex;
      flex-direction: column;
      justify-content: left;
      padding: 1rem 3rem;
    }

    .contacts__details{
      padding-top: 10rem;
    }


    /* contacts.html END */
   .footer__wrapper{
    flex-direction: column;
    place-items: center;
    gap: 2rem;
   }
}



/* Responsiveness CSS END */


@media screen and (max-width: 520px) {
  
}